.Profile_Total_Container{
    height: 100%;
    margin-top: 0;
    background-color: rgba(19, 18, 18, 0.74);
}
.top_line {
    height: 60%;
}
.top_line h3 {
    margin-top: 0;
}
.bottom_line{
    display: flex;
    height: 40%;
}

.bottom_item{
    width: 33%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.bottom_item a {
    color: black;
}
.bottom_item:hover{
    transition: all 1s;
    color: white;
}
.bottom_item a:hover{  
    transition: all 1s;
    color: white;
}