@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,body {height:100%; margin:0; padding:0;}

.left_window{
  width: 40%;
  height: 100vh;
  float: left;
}

.Photo_component{
  width: 100%;
  height: 100vh;
  float: left;
}
.footer_component{
  width: 100%;
  height: 30vh;
  float: left;
}
.main_component{
  width: 60%;
  height: 100vh;
  float: right;
}
